<header>
  <nav>
  <a href="/" class="navbar-right">Home</a>
  <a href="/cakepops" class="navbar-right">Cake Pops</a>
  <a href="/cookies" class="navbar-right">Cookies</a>
  <a href="/cupcakes" class="navbar-right">Cupcakes</a>
  </nav>
</header>