<header>
  <nav>
  <a href="/" class="navbar-left"><img class="imgNav" src="images/logonav.png"></a>
  <a href="/cookies" class="navbar-right">Cookies</a>
  <a href="/cupcakes" class="navbar-right">Cupcakes</a>
  <a href="/cakepops" class="navbar-right">CakePops</a>
  </nav>
</header>

<section id="products">
<div class="container">
        <div><img class="griditem" src="images/cookies/ladycasscookie.png">
            <p><strong>Doctor Who: Lady Cassandra Cookies</strong>
            </br>Price: $3.50
            </br>Hey look, it's the last human in the Whovian universe! 
            Featured on <a href="https://www.facebook.com/DoctorWho/photos/a.182096918471010.52777.127031120644257/764374136909949/?type=3&theater">BBC America</a>.</p>
        </div>
        <div><img class="griditem" src="images/cookies/lotrcookies.png">
            <p><strong>Lord of the Rings Cookies</strong>
            </br>Price: $5.00 for a 2-pack
            </br>Hearty enough to last you on your journey to Mordor... or wherever it is you go.</p>
        </div>
        <div><img class="griditem" src="images/cookies/alcookies.png">
            <p><strong>Alien Cookies</strong>
            </br>Price: $2.50
            </br>You won't have to worry about these bursting out of your chest.</p>
        </div>
</div>
</section>


<footer>
    <p>Enter your email to receive our newsletter!</p>

    <form action="/form" method="POST">
    <input type="email" name="email" placeholder="Enter your email" required>
    <input type="submit" value="Send">
    </form>
</footer>