<header>
  <nav>
  <a href="/" class="navbar-left"><img class="imgNav" src="images/logonav.png"></a>
  <a href="/cookies" class="navbar-right">Cookies</a>
  <a href="/cupcakes" class="navbar-right">Cupcakes</a>
  <a href="/cakepops" class="navbar-right">CakePops</a>
  </nav>
</header>


<section id="products">
<div class="container">
        <div><img class="griditem" src="images/cupcakes/marvelcake.png">
            <p><strong>Avengers Cupcakes</strong>
            </br>Price: $5.00
            </br>Avengers Assemble for these adorable and delicious cakes!</p>
        </div>
        <div><img class="griditem" src="images/cupcakes/hpcake.png">
        <p><strong>Harry Potters Cupcakes</strong>
        </br>Price: $5.00
        </br>Accio cupcakes!</p>
        </div>
        <div><img class="griditem" src="images/cupcakes/stcake.png">
            <p><strong>Star Trek Cupcakes</strong>
            </br>Price: $5.00
            </br>With these, you will live long and prosper.</p>
        </div>
</div>
</section>



<footer>
    <p>Enter your email to receive our newsletter!</p>

    <form action="/form" method="POST">
    <input type="email" name="email" placeholder="Enter your email" required>
    <input type="submit" value="Send">
    </form>
</footer>