<header>
<img class="imgHeader" src="images/logo.png">
</header>


<section id="products">
<div class="container">
        <div> <img class="main-griditem" src="images/cakepops/1uppop.png">
        <br><a href="/cakepops">CakePops</a>
        </div>
        <div><img class="main-griditem" src="images/cupcakes/marvelcake.png">
        <br><a href="/cupcakes">Cupcakes</a>
        </div>
        <div><img class="main-griditem" src="images/cookies/alcookies.png">
        <br><a href="/cookies">Cookies</a>
        </div>
</div>
</section>


<footer>
    <p>Enter your email to receive our newsletter!</p>

    <form action="/form" method="POST">
    <input type="email" name="email" placeholder="Enter your email" required>
    <input type="submit" value="Send">
    </form>
</footer>