
body {
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    margin: 0;
}

.imgHeader {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#products {
    font-size: 40px;
    padding: 20px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    top: 50px;
    min-height: 500px;
}

.container {
    display: grid;
    top: 100px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 450px;
    justify-content: center;
}

.griditem {
    width: 90%;
    height: 90%;
}

.main-griditem {
    width: 350px;
}

a {
    text-decoration: none;
    color: #317b8e; 
}

a:hover {
    color: lightgray;
}

p {
    font-size: 16px;
}

nav {
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 18px;
    margin: 0;
  }
  
  nav .navbar-right {
     float: right;
     display: block;
     padding-right: 20px;
     text-decoration: none;
     font-size: 22px;
  }
  
  nav .navbar-left {
    float: left;
    display: block;
    padding-right: 20px;
    text-decoration: none;
  }

.imgNav {
    width: 200px;
}
  
footer {
    background-color: rgb(235, 235, 235);
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
