html, body {
    font-family: 'Tajawal', sans-serif;
    text-align: center;
}

.imgHeader {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#products {
    font-size: 40px;
    padding: 20px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    top: 100px;
}

.griditems {
    flex: 1;
    width: 300px;
}

a {
    text-decoration: none;
    color: black; 
}

li {
    list-style: none;
    font-size: 16px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 18px;
    margin: 0;
  }
  
  
  nav .navbar-right {
     float: right;
     display: block;
     padding-right: 20px;
     text-decoration: none;
     font-size: 18px;
  }
  
  nav .navbar-left {
    float: left;
    display: block;
    padding-right: 20px;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    color: lightgray;
  }
  
  footer {
      padding-top: 300px;
      background-color: lightgray;
  }

  section {
      padding-top: 20px;
  }